* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  background-color: #17161a;
  color: #ffffff;
}

.reviews-section {
  background-color: #17161a;
  color: #ffffff;
}
